<div class="navbar navbar-default navbar-fixed-top">

	<div class="container">
  
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" [routerLink]="['','']">TanJobs.by</a>
		</div>
	
		<div *ngIf="isAuth()">
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a [routerLink]="['','']">Резюме</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li><a [routerLink]="['','vacancies']">Вакансии</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li><a [routerLink]="['','response']">Отклики</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a [routerLink]="['','']">{{email}}</a></li>
					<li><a [routerLink]="['','']">Выход</a></li>
				</ul>
			</div>
		</div>
	
		<div *ngIf="!isAuth()">
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a [routerLink]="['','registration']">Регистрация</a></li>
					<li><a [routerLink]="['','login']">Вход</a></li>
				</ul>
			</div>
		</div>
		
	</div>
  
</div>